/*navbar styling -----------------------------------------*/
.nav-bar {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--color-teal);
  height: 50px;
}
.nav-bar-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bold;
  margin: 10px;
}
.search-form {
  display: inline-block;
}
.search-button {
  border-radius: 50%;
  height: 25px;
  color: var(--color-teal);
  background-color: white;
  border: 1px solid var(--color-teal);
  &:hover {
    background-color: var(--color-teal);
    border: 1px solid var(--color-teal);
    color: white;
  }
}
/*product styling -----------------------------------------*/
.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-x: auto;
}
.product-card {
  padding: 10px;
  margin: 10px;
  min-width: 200px;
  text-align: center;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 0.2em var(--color-teal);
  transition: transform 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover {
  transform: scale(1.02);
}
.product-title {
  margin-top: 8px;
  padding-top: 0px;
  padding-bottom: 20px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 8px;
  color: var(--color-dark-gray);
}

.product-image {
  height: 200px;
  object-fit: cover;
  border-bottom: 1px solid #e0e0e0;
}

.product-description {
  padding-bottom: 20px;
  height: 80px;
  margin: 10px;
  overflow: hidden;
  color: #555;
}

.product-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-orange);
  text-align: start;
}
.product-price-before-sale {
  font-size: 1rem;
  text-decoration: line-through;
  font-weight: normal;
  color: var(--color-teal);
  text-align: start;
}
.product-sale-price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-orange);
  text-align: start;
}
.product-button {
  height: 2.5em;
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  color: white;
  background-color: var(--color-teal);
  border: 1px solid var(--color-teal);
  &:hover {
    background-color: var(--color-teal);
    border: 1px solid var(--color-teal);
  }
}
@media (max-width: 600px) {
  .product-list {
    flex-direction: row;
    align-items: center;
  }
  .product-card {
    max-width: 100%;
  }
}
.loader {
  margin-top: 50%;
}
@media (prefers-reduced-motion: no-preference) {
  .loader {
    animation: App-logo-spin infinite 3s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
